* {box-sizing: border-box}
body {
  width:100%;
  height:100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
fieldset {
  box-sizing: border-box;
  width: 500px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  border-radius: 3px;
  background-color:#000;
  color:#fff;
  margin-bottom:20px;
  margin: 100px auto 20px;
  }
fieldset h1 {
  box-sizing: border-box;
  padding: 0px;
  margin:0 0 10px 0;

}

.thongtin label{
margin-left:50px;
}
input {
  margin: 10px 10% 10px 10%;
  width: 80%;
  display:block;
  border: none;
  padding: 10px 10px;
  border-bottom: solid 1px #1abc9c;
  color: #0e6252;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}



input[type=submit] {
  border: none;
  background: #fb2525;
  cursor: pointer;
  padding: 6px;
  width: 80%px;
  height:40px;
  margin-top:30px;
  border-radius:20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
input[type=submit]:hover {
  background-color:#4CAF50;
  border-radius:20px;
}
.dont{
margin-top:30px;
}
.thongtin a{
color:#fff;
text-decoration:none;
font-size:18px;
}
.dont a {
text-decoration:none;
font-size:15px;
line-height: 20px;
color: red;
margin-left:15px;
}
.dont a:hover {
color:#ffc107;
}
@media screen and (max-width: 520px) {
  fieldset, .row{
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .col{
    width: 100%;
}
}